*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    background-color: #CED5EF;
    font-family: Arial, Helvetica, sans-serif;
    color: #1C1C1C;
    scroll-behavior: smooth;
}
/* center form horizontally */
form{
    display: block;
    margin: 25px auto;
}
/* header */
header > img{
    width: 137px;
    margin: 0 20px;
    text-align: center;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
}
.text-el > h1{
    font-size: 13pt;
}
.text-el > p {
    font-size: 10pt;
}
/* login */
#login-form{
    width: 781px;
    background-color: #FFFBFB;
    border-radius: 10px;
    text-align: center;
}
.content-el{
    width: 640px;
    font-size: 17px;
    display: block;
    margin: 0 auto;
}
.content-el h1{
    background-color: rgba(84, 159, 247, 0.2);
    width: 640px;
    height: 70px;
    margin-top: 20px;
    font-size: 19px;
    padding: 25px 0;
}
.content-el > div{
    display: flex;
    flex-direction: column;
    position: relative;
}
.content-el > div > a {
    color: #549FF7;
    text-decoration: none;
    margin-top: 15px;
    font-size: 15px;
    margin-left: -40px;
}
.content-el > hr{
    color: #1C1C1C;
    width: 640px;
    border-left: none;
    margin-top: 20px;
}
.input-el{
    width: 306.76px;
    height: 49.55px;
    margin-left: 30px;
    font-size: 15px;
    border: 1px solid #9C9C9C;
    border-radius: 5px;
}
label{
    margin-top: 10px;
    font-weight: bold;
}
.textfield{
    padding-left: 25px;
}
/* set the eye icon inside the input field using positioning: relative and absolute */
label[for="password"]{
    position: relative;
}
.login-eye-icon{
    position: absolute;
    height: 100%;
    top: 0;
    right: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    color: #8F8C8C;
}
.button{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #549FF7;
    border: none;
    color: #FFFEFE;
    margin: 20px 0;
    width: 200px;
}
/* footer */
footer{
    background-color: #E0E1E1;
    height: 51.46px;
    /* width: 781px; */
    border-radius: 0 0 10px 10px;
    padding-top: 17px;
    color: #8F8C8C;
    text-align: center;
}
.footer-el > a{
    color: #3C8BE8;
}
/* Customizing Registration */
#registration-form{
    width: 800px;
    background-color: #FFFBFB;
    border-radius: 10px;
}
#registration-form .content-el{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#registration-form .content-el > h2{
    text-align: left;
    /* background-color: red; */
    width: inherit;
    font-size: 19px;
    margin-top: 20px;
}
#registration-form .content-el > div{
    width: 519px;
}
#registration-form > .content-el > div > label{
    text-align: right;
}
.reg-eye-icon{
    position: absolute;
    height: 100%;
    top: 0;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8F8C8C;
    width: 30px;
}
#warning-message{
    text-align: left;
    font-size: 13px;
    padding-left: 220px;
    margin-top: 10px;
    color: #8F8C8C;
    font-weight: lighter;
}
/* Customizing style input type date */
input[type="date"]{
    padding-right: 20px;
    color: #8F8C8C;
    font-family: Arial, Helvetica, sans-serif
}
/* Customizing style of radio button */
/* Center elements vertically */
label[title="gender"]{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 17px;
    height: 25px;
}
.radio-group{
    width: 306.76px;
    height: 49.55px;
    padding-top: 15px;
    margin-left: 31px;
    text-align: left;
}
label[for="male"], label[for="female"]{
    font-weight: lighter;
}
/* Customizing style of input type file button */
input[type=file] {
    width: 306.76px;
    background: #fff;
    margin-top: 12px;
    margin-left: 30px;
    font-size: 16px;
}
input[type=file]::file-selector-button {
    height: 40px;
    margin-right: 20px;
    border: none;
    background: #0d45a5;
    padding: 0 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
} 



